name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # This runs every time you save a change to 'main'

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/checkout@v4
        with:
          node-version: '20'

      - name: Install and Build
        run: |
          npm install
          npm run build
        env:
          CI: false # This prevents the build from failing on small warnings

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build # This is where your finished site lives
          branch: gh-pages # This creates a special "website" branch
